.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
html{
    background-color: #a595ed;
}
*{
    
    font-family: "Indie Flower";
}
.valentineQ{
    padding: 30px;;
    background-color: #e7e3fc;
    display: flexbox;
    width: 50%;
    justify-content: center;
    justify-self: center;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.valentineQ h2{
    position: relative;
    font-size: 30px;
}
.valentineQ h3{
    font-size: 26px;
    color: #6c0887;
}
.valentineQ button{
    width: 30%;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    transition: transform 0.3s ease;
    padding: 0 30px;
    margin: 20px;
    
}
#clickYes{
    background-color:#5437e6 ;
    color: white;
    
}
#clickNo{
    background-color:#a7a5b5 ;
    color: white;
}
.valentineQ button:hover{
    cursor: pointer;
}
#clickYes:hover{
    transform: scale(1.6);
}
#clickNo:hover{
    transform: scale(0.6);
}
